html, body {
    height: 100%;
    font-family: roboto;
}

.main {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 540px;
    min-width: 1000px;
    background-color: #f7f7f7;
}

.wrap{
    max-width: 1600px;
    min-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 25px;
    display:flex;
}

footer{
    background: #fafafa;
    height: 540px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #f2f2f2;
}

.column{
    box-sizing: border-box;
    padding: 0 25px;
}