.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
}

.modal{
    background: #fff;
    height: 400px;
    width: 400px;
    position: absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 200px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 999;
    display:none;
}

.dialog{
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.dialog>div {
    display:none;
}

.dialog .dialog__start{
    padding: 50px;
    display: block;
}


.dialog .dialog__start h3{
    font-size: calc((21/16)*1rem);
    text-align: center;
    line-height: 30px;
}

.dialog .dialog__start .form{
    padding: 0;
    margin: 40px 0 0 0;
}

.dialog .dialog__start .form .label{
    font-size: calc((16/16)*1rem);
    text-align: center;
    margin-bottom: 15px;
}

.dialog .dialog__start .form [type="tel"]{
    text-align: center;
    font-size: calc((21/16)*1rem);
}

.dialog .dialog__start .form .submit-button{
    text-align: center;
}

.dialog .dialog__start .form .submit-button .submit{
    padding: 0 50px;
}


.dialog .dialog__loader .lContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    animation-delay: 1s;
}

.dialog .complete_mess{
    margin: 0 auto;
}

.dialog .complete_mess p{
    text-align: center;
    font-size: calc((21/16)*1rem);
    color: #808080;
    padding-top: 70px;
    position: relative;
}

.dialog .complete_mess p span{
    font-size: calc((15/16)*1rem);
}

.dialog .complete_mess p:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 25px);
    background-color:limegreen;
    background-image: url('./icon/tick.svg');
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.dialog .dialog__complete_error .complete_mess p:before{
    background-color: red;
    background-image: url('./icon/cross.svg');
}





/* loader */


.dialog__loader .item-1 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eed968;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.dialog__loader  .item-1:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eed968;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.dialog__loader  .item-2 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eece68;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.dialog__loader .item-2:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eece68;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 400ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.dialog__loader .item-3 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eec368;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.dialog__loader .item-3:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eec368;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 600ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.dialog__loader .item-4 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #eead68;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.dialog__loader .item-4:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eead68;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 800ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.dialog__loader .item-5 {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    background-color: #ee8c68;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.dialog__loader .item-5:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ee8c68;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 1000ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.dialog__loader{
    display: block;
}