/* -- form -- */
.form{
	box-sizing: border-box;
	padding: 20px;
}

.form .field-group{
	display: flex;

}

.form .field-group li{
	width: 100%;
	box-sizing: border-box;
	padding-left: 30px;
}

.form .field-group li:first-child{
	padding-left: 0;
}

.form .label{
	display: block;
	line-height: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: calc((15/16)*1rem);
}

.form .form-group{
	margin-bottom: 20px;
    position: relative;
}

.form .form-group.checkbox{
	display: flex;
	justify-content:flex-end;
	flex-direction:row-reverse;
	align-items: center;
}

.form .form-group.checkbox .label{
	margin: 0;
	padding: 0 0 2px 5px;
}

.form .form-group:last-child{
	margin-bottom: 0;
}

.form input[type="text"],.form input[type="tel"],.form input[type="email"],.form input[type="password"],.form input[type="number"],textarea{
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: calc((14/16)*1rem);
}

.form input[type="text"],.form input[type="tel"],.form input[type="email"],.form input[type="password"],.form input[type="number"], textarea{
	padding: 0 10px;
	line-height: 36px;
 	height: 38px;
	width: 100%;
	box-shadow:      inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.form textarea{
	padding: 10px;
	width: 100%;
	height: 100px;
}

.form textarea:focus, .form input[type="text"]:focus,.form input[type="tel"]:focus,.form input[type="email"]:focus,.form input[type="password"]:focus,.form input[type="number"]:focus{
	outline: none;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 180, 255, 0.25);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 180, 255, 0.25);
	box-shadow:         0px 0px 20px 0px rgba(0, 180, 255, 0.25);
	border: 1px solid #addff3;
}

.form [type="number"]::-webkit-outer-spin-button,
.form [type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* оформление checkbox */
.form [type="checkbox"]{
	display: none;
}

.form [type="checkbox"] + label{
	line-height: 20px;
	padding-left: 30px;
	position: relative;
}

.form [type="checkbox"] + label:before{
	content:'';
	display:block;
	position: absolute;
	width: 20px;height: 20px;
	box-sizing: border-box;
	background-color: #e1e1e1;
	border: 1px solid #c1c1c1;
	left: 0; top: 0;
	cursor:pointer;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	box-shadow:         inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	border-radius: 2px;
}

.form [type="checkbox"]:checked  + label:before{
	background-color: #ffd418;
	background-image: url('./icon/tick.svg');
	background-size: 12px auto;
	background-repeat: no-repeat;
	background-position: center center;
}


/* переключатели */
.form .radio-group [type="radio"]{
	display: none;
}

.form .radio-group{
	display: inline-flex;
}

.form .radio-group li:first-child label{
	border-radius: 5px 0 0 5px;
	border-left: 1px solid #c1c1c1; ;
}

.form .radio-group li:last-child label{
	border-radius: 0 5px 5px 0;
}

.form [type="radio"]:checked + label:before{
	content: '';
	display: block;
	position: absolute;
	top:-1px;left:-1px;right:-1px;bottom:-1px;
	border: 1px solid #9a7e01;
}

.form .radio-group li:first-child label:before{
	border-radius: 5px 0 0 5px;
}

.form .radio-group li:last-child label:before{
	border-radius: 0 5px 5px 0;
}

.form [type="radio"] + label{
	position: relative;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	display:  inline-block;
	border: 1px solid #c1c1c1;
	font-size: calc((14/16)*1rem);
	line-height: calc((38/16)*1rem);
	color: #000;
	text-decoration: none;
	padding: 0 20px;
	box-sizing: border-box;
	border-left: 0;
	cursor: pointer;
	-webkit-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset -1px 0px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:         inset -1px 0px 0px 0px rgba(255, 255, 255, 1);
}

.form [type="radio"]:checked  + label {
	background: rgb(255,220,65); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,220,65,1) 0%, rgba(252,180,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,220,65,1) 0%,rgba(252,180,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,220,65,1) 0%,rgba(252,180,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc41', endColorstr='#fcb400',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

/* ползунок */
.form input[type=range]{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
	  box-sizing: border-box;
    border: none; /* FF */
    width: 100%; /* FF */
    padding: 0; /* IE */
	margin: 0;
	border-radius: 5px;
}

.form input[type=range]:focus {
    outline: none;
}


/**/
.form input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	box-sizing: border-box;
	border-radius:10px;
	box-shadow:      inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);

	border: 1px solid #c1c1c1;
}

.form input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-sizing: border-box;
	border: 1px solid #fff;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	margin-top: -6px;
	background-color: #fefefe; /* Old browsers */
	background-image: url('./icon/panel.svg');
	background-size: 10px auto;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 1);
}


.form input[type=range]:focus::-webkit-slider-runnable-track {


}

/**/
.form input[type=range]::-moz-range-track {
    width: 100%;
	height: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	  background: #fff;
	  box-shadow:      inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
	border: 1px solid #c1c1c1;
}

.form input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
	border: 1px solid #fff;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	margin-top: -6px;
	background-color: #fefefe; /* Old browsers */
	background-image: url('./icon/panel.svg');
	background-size: 10px auto;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 1);
}

.form input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

.form input[type=range]:focus::-moz-range-track {

}

.form input[type=range]::-moz-range-progress {
   background: #ffd625;
   height: 8px;
   border-radius: 5px;
}

/**/
.form input[type=range]::-ms-track {
 width: 100%;
 height:10px;
 cursor: pointer;
 animate: 0.2s;
 background: transparent;
 border-color: transparent;
 border-width: 16px 0;
 color: transparent;
}

.form input[type=range]::-ms-fill-lower {
 background: #ffd625;
 border: 0.2px solid #c1c1c1;
 border-radius: 5px;
 box-shadow:      inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.form input[type=range]::-ms-fill-upper {
 background: #fff;
 border: 0.2px solid #c1c1c1;
 border-radius: 5px;
 box-shadow:      inset 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}
.form input[type=range]::-ms-thumb {
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 1);
 border: 1px solid #fff;
 height: 20px;
 width: 20px;
 border-radius: 10px;
 background-color: #fefefe; /* Old browsers */
	background-image: url('./icon/panel.svg');
	background-size: 10px auto;
	background-repeat: no-repeat;
	background-position: center center;
 cursor: pointer;
}
.form input[type=range]:focus::-ms-fill-lower {

}
.form input[type=range]:focus::-ms-fill-upper {

}


/* -- кнопка -- */
.button{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  display: inline-block;
  border: 1px solid #c1c1c1;
  font-size: calc((14/16)*1rem);
  line-height: calc((38/16)*1rem);
  color: #000;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 5px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

.button.submit{
  background: rgb(255,220,65); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,220,65,1) 0%, rgba(252,180,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,220,65,1) 0%,rgba(252,180,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,220,65,1) 0%,rgba(252,180,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc41', endColorstr='#fcb400',GradientType=0 ); /* IE6-9 */

  border:1px solid #f39200;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25);
  cursor: pointer;

  font-size: calc((16/16)*1rem);
}

.button:hover, .button.selected{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  color: #000;
}

.button.submit:active{
  background: #fcb400;
  text-shadow: none;
}

.button:active{
  background: #f2f2f2;
  text-shadow: none;
}

/* сообщения для обязательных полей */
.form .error-notify{
    position: absolute;
    background: tomato;
	width: 100%;
	box-sizing: border-box;
    bottom: -11px;
    padding: 2px;
    border-radius: 0 0 5px 5px;
    font-size: calc((12/16)*1rem);
    color: #fff;
	text-align: center;
}



/* область загрузки файлов */
.form .dropzone.dz-clickable{
    border: 2px dashed #d24a43;
    background: #f7f7f7;
}

.form .dropzone .dz-default{
    padding: 25px;
    padding-top: 60px;
    text-align: center;
    font-size: calc((15/16)*1rem);
    background: url('../i/add-file.png') no-repeat center 25px;
    color: #808080;
}

.form .red-star{
    color: #d24a43;
}

.form .dropzone{
	padding: 0;
}
