:root{
    --red:#dc4d41;
    --grey:#f7f7f7;
    --link:#0197d4;
    --grey50:#808080;
}


a{
    color: var(--link);
}
a:hover{
    color: var(--red);
}

.header{
    height: 100px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
}

.header .wrap{
    width: 100%;
    align-items: center;
}


.header .column{
    width: auto;
}

.header .logo{
    padding-left: 0;
    width: auto;
}




.header .menu-button{
    display: none;
}

.header .menu{
    display: flex;
    width: 100%;
    margin: 0 2%;
}

.header .menu > li{
    margin: 0 2%;
}

.header .menu > li:first-child{
    margin-left:2%;
}

.header .menu > li > a{
    line-height: 100px;
    display: block;
    font-size: calc((20/16)*1rem);
    white-space: nowrap;
    color: #000;
    text-decoration: none;
}

.header .menu > li > a:hover, .header .menu > li:hover > a {
    color: var(--red);
}


.header .menu > li:hover > ul{
    display: block;
}

.header .menu>li>ul{
    display: none;
    padding: 15px 0;
    position: absolute;
    top: 100px;
    left:0;right:0;
    border: 1px solid #e6e6e6;
    border-left:0;
    border-right:0;
    background: #fff;
    z-index:99999;
}

.header .menu__wrap{
    width: 100%;
    background:#fff;
    max-width: 1400px;
    margin: 0 auto;
}

.header .menu__wrap ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 35px 0;
}

.header .menu__wrap ul li{
    border-radius: 5px;
    background: #f7f7f7;
    padding: 25px;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    1px 1px 0px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         1px 1px 0px 0px rgba(50, 50, 50, 0.1);
}

.header .menu__wrap ul li a{
    color: #000;
    font-size: calc((18/16)*1rem);
    text-decoration: none;
    font-weight: 300;
}

.header .menu__wrap ul li a:hover{
    color: var(--red);
}

.header .menu__wrap img{
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}



/* END: menu */



.header .phone{
    white-space: pre;
    font-size: calc((18/16)*1rem);
    text-align: right;
    line-height: 23px;
}

.header .city{
    font-weight: 300;
}

.header .phone a{
    display: block;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.header .callback{
    margin: 0 2%;
}

.header .header__order{
    white-space: pre;
    text-decoration: none;
    background: var(--red);
    color: #fff;
    font-weight: 300;
    font-size: calc((16/16)*1rem);
    line-height: 35px;
    display: inline-block;
    padding: 0 20px;
    border-radius: 3px;
}

/*.header .callback a{*/
    /*color: var(--link);*/
    /*font-weight: 300;*/
    /*border-bottom: 1px dashed var(--link);*/
    /*white-space: pre;*/
    /*text-decoration: none;*/
/*}*/

/*.header .callback a:hover{*/
    /*color: var(--red);*/
    /*border-color: var(--red);*/
/*}*/

.header .login{
    padding-right: 0;
}

.header .login a{
    background: var(--grey);
    border-radius: 50%;
    background-image: url('./icon/avatar.svg');
    background-size: 25px auto;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
}

.header .login a:hover{
    background-color: #fff;
}